<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eventSites" value="One|Two|Three"/>
    <add key="eventSlots" value="Four|Five|Six"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>